@import '/src/theme/main.scss';

.btn {
  height: '55px';
  float: 'right';
  margin-bottom: '15px';
}

.btn3 {
  height: '55px' !important;
  width: '35px' !important;
  float: 'right' !important;
}

.btnB {
  height: '55px';
  margin-bottom: '15px';
}
