
:root{
    /* --color-student-primary:rgb(255, 69, 0);
    --color-student-primary-light:rgba(55, 69, 0,0.1);
    --color-student-secondary:#f7f37e; */
    --color-student-primary:#ff1493;
    --color-student-primary-light:rgba(255, 20, 147,0.1);
    --color-student-secondary:#ffc0cb;
}      
