@import '/src/theme/main.scss';

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

.test {
  padding: 10px;
  margin: 10px auto;
  border-color: blue;
}

.responsive {
  width: 90%;
  height: auto;
  margin: auto;
}

.Toastify__toast-body {
  font-family: 'iranyekan';
}

.Toastify__toast--error {
  background: purple !important;
}

.my-footer {
  padding: 5px;
  text-align: left;
  bottom: 0%;
  width: 25%;
  color: #fff;
  @media (max-width: 600px) {
    width: 80%;
  }
  &__phoneNum {
    font-size: medium;
    font-weight: bold;
  }
  &__media {
    padding: 20px;
    width: 60%;
    text-align: center;
  }
  &__bylove {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: purple;
    font-weight: 700;
  }
  &__content {
    padding: 32px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    bottom: 30px;
    &__s {
      bottom: auto;
      font-size: medium;
      font-weight: bold;
      text-align: center;
    }
    &__h {
      color: rgb(231, 3, 3);
      padding: 8px;
      bottom: auto;
      font-size: x-large;
      animation: beat 0.25s infinite alternate;
    }
  }
}

.login-link__not-registered {
  text-decoration: none !important;
}

.login-link__forget-password {
  text-decoration: none !important;
}

.loading-login{
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

