@import '/src/theme/main.scss';

.header_search {
  margin-top: 50px;
}

.desktop_navbar {
  @media screen and (min-width: 900px) {
    &__logo {
      margin-right: 50px;
    }

    &__signup {
      margin-right: auto;
      margin-left: 10%;
    }
  }
}
