@import '../../theme/main.scss';

.wallet-parts-title {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  margin-top: 20px !important;
  font-size: 34px !important;
  font-weight: 800 !important;
  color: rgb(99, 94, 94) !important;
}

.wallet-credit-counter {
  direction: rtl !important;
  font-size: 34px !important;
  font-weight: 600px !important;
  color: rgb(15, 116, 74) !important;

  &__calculator{
    background-color: rgb(18, 87, 78) !important;
    width: 80px !important;
    height: 40px !important;
    margin-right: 10px !important;
    color: white !important;
  }
}
