@import '/src/theme/main.scss';

.discount-page__title {
  margin-bottom: 20px;
}

.discount-page-input__title {
  width: 50%;
}

.discount-page-input__title:focus {
  border-bottom: solid 2px black !important;
}

.discount-page-input__end-date {
  width: 50%;
}

.discount-page-input__end-date:focus {
  border-bottom: solid 2px black !important;
}

input.date-input {
  display: none !important;
}

.discount-page__second-row {
  margin-top: 20px;
}

.discount-page-input__percentage {
  width: 50%;
}

.discount-page-input__percentage:focus {
  border-bottom: solid 2px black !important;
}

.discount-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-page-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .discount-page__header {
    display: block;
  }

  .discount-page-title__container {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .discount-page-input__title {
    width: 100%;
  }

  .discount-page-input__percentage {
    width: 100%;
  }

  .discount-page-input__end-date {
    width: 100%;
  }
}
