@import '/src/theme/main.scss';
@keyframes HandWave {
  to {
    transform:rotate(25deg);
  }
}
.Pro {
  display: flex;
  flex-direction: row;
  box-shadow: inset;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  &__Hello{
      margin: 20px;
      padding: 5px;
      border-radius: 10%;
      text-align: center;
      font-size: x-large;
      font-weight: 700;
      &__media{
        width: 300px;
          margin: 5px;
          border-radius: 10%;
      }
  }
}
.WhoiS{
  display: flex;
  height: 70px;
  flex-direction: row;
  margin: 20px;
  padding: 5px;
  border-radius: 4%;
  font-size: x-large;
  font-weight: 700;
  &__media{
      margin: auto;
      width: 45px;
      height: 45px;
      text-align: left;
      margin-inline-start: 8%;
      border-radius: 10%;
  }
  &__content{
      margin: auto;
      text-align: center;
      margin-inline-start: 0%;
      border-radius: 10%;
  }
}