@import '/src/theme/main.scss';

.create-course-stepper {
  display: block !important;
}

.form-holder-main-class {
  width: 70%;
  align-items: center;
  margin: auto;
  border: 1px solid;
  margin-top: 40px;
  box-shadow: 10px;
}

.steeper-button__holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steeper-button {
  margin-bottom: 25px !important;
}

@media only screen and (max-width: 600px) {
  .form-holder-main-class {
    width: 100%;
    border: none;
  }
}
