@import '/src/theme/main.scss';
.Center{
    text-align: center;
    background-color:rgb(59, 231, 231);
}
.CenterB{
    margin-right: 25px;
    text-align: center;
}
.BG{
    background-color:rgb(217, 255, 255);
}
.BlueC{
    width: 110px;
    padding: 5px;
    margin: 5px;
    background-color: cyan;
    color: blue;
}
.PinkC{
    width: 110px;
    padding: 5px;
    margin: 5px;
    background-color: pink;
    color: deeppink;
}
.PurpleC{
    width: 110px;
    padding: 5px;
    margin: 5px;
    background-color: plum;
    color:indigo;
}